<configuration>
    <appender name="Log" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>./latest.log</file>
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm} - %level - %logger{0} >> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm} %boldWhite(-) [%green(%thread)] %highlight(%-5level) %boldWhite(-) %cyan(%logger{0}) %gray(>>) %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Log"/>
    </root>

    <logger name="net.dv8tion" level="INFO"/>
</configuration>
